<%= form_for(@installation) do |f| %>
  <% if @installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@installation.errors.count, "error") %> prohibited this installation from being saved:</h2>

      <ul>
      <% @installation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :users %><br>
    <%= f.text_field :users %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
