<% provide(:title, 'Home') %>

<div class="slideshow">
  <div class="jumbotron" id="jumbotron1">
    <div class="container">
      <div class="jumbo_text">
        <h1>Energy Independence</h1>
        <h3>For less than you pay now<h3>
      </div>
      <%= link_to 'Learn More', new_user_path, class: 'btn btn-primary btn-lg jumbobtn' %>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron2">
    <div class="container">
      <div class="jumbo_text">
        <h1>Energy Independence</h1>
        <h3>For less than you pay now<h3>
      </div>
      <%= link_to 'Learn More', new_user_path, class: 'btn btn-primary btn-lg jumbobtn' %>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron3">
    <div class="container">
      <div class="jumbo_text">
        <h1>Energy Independence</h1>
        <h3>For less than you pay now<h3>
      </div>
      <%= link_to 'Learn More', new_user_path, class: 'btn btn-primary btn-lg jumbobtn' %>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron4">
    <div class="container">
      <div class="jumbo_text">
        <h1>Energy Independence</h1>
        <h3>For less than you pay now<h3>
      </div>
      <%= link_to 'Learn More', new_user_path, class: 'btn btn-primary btn-lg jumbobtn' %>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron5">
    <div class="container">
      <div class="jumbo_text">
        <h1>Energy Independence</h1>
        <h3>For less than you pay now<h3>
      </div>
      <%= link_to 'Learn More', new_user_path, class: 'btn btn-primary btn-lg jumbobtn' %>
    </div>
  </div>
</div>

  <div class="col-xs-3 boxes">
    <%= link_to image_tag("save_money.jpg", alt: "Save Money Icon", class: "img-circle"), save_path %>
    <h3>Save Money</h3>
    <p>Lower your energy costs with solar electrical and hot water systems</p>
  </div>
    <div class="col-xs-3 boxes">
    <%= link_to image_tag("go_green.jpg", alt: "Go Green Icon", class: "img-circle"), green_path %>
    <h3>Go Green</h3>
    <p>Take responsibility for doing your part to lower carbon emissions.</p>
  </div>
    <div class="col-xs-3 boxes">
    <%= link_to image_tag("energy_independence.jpg", alt: "Energy Independence Logo", class: "img-circle"), independence_path %>
    <h3>Energy Independence</h3>
    <p>Live off the grid, or simply help save lives overseas.</p>
  </div>
    <div class="col-xs-3 boxes">
    <%= image_tag("low_maintenance.jpg", alt: "Low Maintenance Logo", class: "img-circle") %>
    <h3>Low Maintenance</h3>
    <p>Quiet, dependable and reliable systems</p>
  </div>
