<% provide(:title, 'Sign In') %>

<div class="col-xs-6 col-md-offset-3" id="contact_form">
  <h3>Sign In</h3>

  <%= form_tag sessions_path do %>
    <div class="col-xs-6 pull-left">
      <div class="field">
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="col-xs-6-pull-right">
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="actions"><%= submit_tag 'Sign In', class: 'btn btn-primary btn-lg' %></div>
  <% end %>
</div>