<% provide(:title, 'User Details')%>

<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @user.name %> </h2>
</p>

<p>
  <strong>Email:</strong>

  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <% pn = Phoner::Phone.parse(@user.phone.to_s) %>
  <%= pn.format('(%a) %f-%l') %>
  <% #@user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Best Time to Call:</strong>
  <%= @user.best_time %>
</p>

<p>
  <strong>Electric Bill:</strong>
  <%= @user.e_bill %>
</p>

<p>
  <strong>Access Key:</strong>
  <%= @user.access %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
