<!DOCTYPE html>
<html lang="en">
<head>

  <%= render '/layouts/header.html.erb' %>
</head>
<body>
  <!-- banner and nav for devices small and up -->
<nav class="navbar-fixed-top hidden-xs">
  <div class="row" id="banner">
    <div class="col-xs-10 col-md-offset-1">
      <%= image_tag("logo_no_text.png", alt: "Responsive Image", class: "img-responsive pull-left hidden-xs", id: "logo") %>
      <div class="col-xs-4">
      <h1>Suns Up Solar</h1>
      </div>
      <!-- <button type="button" class="btn btn-primary pull-right" id="contact_button">Get In Touch</button> -->
      <%= link_to 'I Want Solar', new_user_path, class: 'btn btn-primary btn-lg pull-right', id:'contact_button' %>
    </div>
  </div>
  <div class"row" id="navbar">
    <div class="col-xs-10 col-md-offset-1">
      <%= render 'layouts/nav_links.html.erb' %>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default visible-xs" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img class="img-responsive pull-left visible-xs" id="logo_small" alt="Responsive Image" src="/assets/logo_no_text.png"/>
    <a class="navbar-brand" href="#">Suns Up Solar</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="active"> <%= link_to 'Home', root_path %>              </li>
        <li>                <%= link_to 'Learn About Solar', tech_path %> </li>
        <li>                <%= link_to 'Residential', residential_path %>       </li>
        <li>                <%= link_to 'Commercial', commercial_path %>        </li>
        <li>                <%= link_to 'About Us / Contact', about_path %>          </li>
        <li>                <%= link_to 'News', news_index_path %>              </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container" id="main_container">
  <div class="hidden-xs" id="container_spacer">  <!-- this keeps the body content from getting hidden by the nav -->
  </div>

<%= yield %>

</div>

<footer id="footer">
  <small>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h4>Nav Links</h4>
          <ul>
            <li class="active"> <%= link_to 'Home', root_path %>              </li>
            <li>                <%= link_to 'Learn About Solar', tech_path %> </li>
            <li>                <%= link_to 'Residential', residential_path %></li>
            <li>                <%= link_to 'Commercial', commercial_path %>  </li>
            <li>                <%= link_to 'About Us', about_path %>         </li>
            <li>                <%= link_to 'News', news_index_path %>        </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <h4>Internal Links</h4>
          <ul>
            <li><%= link_to 'I Want Solar', new_user_path %></li>
            <li><%= link_to 'Get In Touch', about_path %></li>
            <li>links</li>
            <li>links</li>
          </ul>
        </div>
        <div class="col-xs-3">
          <h4>External Links</h4>
          <ul>
            <li>links</li>
            <li>links</li>
            <li>links</li>
            <li>links</li>
          </ul>
        </div>
        <div class="col-xs-3">
          <h4>Admin Links</h4>
          <ul>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Installations', installations_path %></li>
            <li><%= link_to 'News', news_index_path %></li>
            <li>links</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="company_info">
      <address>
        <strong>Suns Up Solar.</strong>
        224 Dufour Street
        Santa Cruz, CA 95060
        Phone: (831) 458-0203
        Email: info@sunsupsolar.com
      </address>
    </div>
  </small>
</footer>

</body>
</html>