<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suns Up Solar | <%= yield(:title) %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find out how you can save money and pollution by installing Solar PV and and Solar Hot Water Systems. On and off grid, Northern California.">
  <meta name="keywords" content="santa cruz,solar panels, santa cruz solar,solar  installer,solar installer santa cruz,solar contractor,solar contractor santa cruz, residential solar,commercial solar,solar hot water,solar electric, photovoltaic, solar solutions, turn key,solar monterey,solar power santa cruz, solar panels scotts valley,green energy,solar financing,renewable energy,solar panel,solar,suns up solar,solar santa cruz county,solar pv santa cruz,solar pv scotts valley">
  <%= stylesheet_link_tag    "bootstrap.min.css", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- banner and nav for devices small and up -->
<nav class="navbar-fixed-top hidden-xs">
  <div class="row" id="banner">
    <div class="col-xs-10 col-md-offset-1">
      <img class="img-responsive pull-left hidden-xs" id="logo" alt="Responsive Image" src="/assets/logo_no_text.png"/>
      <div class="col-xs-4">
      <h1>Suns Up Solar</h1>
      </div>
      <button type="button" class="btn btn-info pull-right" id="contact_button">Get In Touch</button>
    </div>
  </div>
  <div class"row" id="navbar">
    <div class="col-xs-10 col-md-offset-1">
      <ul class="nav nav-pills">
        <li class="active"> <%= link_to 'Home', '#' %>              </li>
        <li>                <%= link_to 'Learn About Solar', '#' %> </li>
        <li>                <%= link_to 'Residential', '#' %>       </li>
        <li>                <%= link_to 'Commercial', '#' %>        </li>
        <li>                <%= link_to 'About Us', '#' %>          </li>
        <li>                <%= link_to 'News', '#' %>              </li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default visible-xs" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img class="img-responsive pull-left visible-xs" id="logo_small" alt="Responsive Image" src="/assets/logo_no_text.png"/>
    <a class="navbar-brand" href="#">Suns Up Solar</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="active"> <%= link_to 'Home', '#' %>              </li>
        <li>                <%= link_to 'Learn About Solar', '#' %> </li>
        <li>                <%= link_to 'Residential', '#' %>       </li>
        <li>                <%= link_to 'Commercial', '#' %>        </li>
        <li>                <%= link_to 'About Us', '#' %>          </li>
        <li>                <%= link_to 'News', '#' %>              </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container" id="main_container">
  <div class="hidden-xs" id="container_spacer">  <!-- this keeps the body content from getting hidden by the nav -->
  </div>

<%= yield %>

</div>

<footer id="footer">
  <small>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h4>Column 1</h4>
          <ul>
          <li class="active"> <%= link_to 'Home', '#' %>              </li>
          <li>                <%= link_to 'Learn About Solar', '#' %> </li>
          <li>                <%= link_to 'Residential', '#' %>       </li>
          <li>                <%= link_to 'Commercial', '#' %>        </li>
          <li>                <%= link_to 'About Us', '#' %>          </li>
          <li>                <%= link_to 'News', '#' %>              </li>
        </ul>
        </div>
        <div class="col-xs-3">
          <h4>Column 2</h4>
          <p>links</p>
          <p>links</p>
          <p>links</p>
          <p>links</p>
        </div>
        <div class="col-xs-3">
          <h4>Column 3</h4>
          <p>links</p>
          <p>links</p>
          <p>links</p>
          <p>links</p>
        </div>
        <div class="col-xs-3">
          <h4>Column 4</h4>
          <p>links</p>
          <p>links</p>
          <p>links</p>
          <p>links</p>
        </div>
      </div>
    </div>
    <div id="company_info">
      <p>This is where the company address, copyright etc will go</p>
    </div>
  </small>
</footer>

</body>
</html>